<ul class="pagination">
    <li [class.disabled]="Pagination.currentPage <= 1" (click)="handlePreviousPage()">
        <a><i class="material-icons">chevron_left</i></a>
    </li>
    <li *ngFor="let page of Pages" [class.active]="Pagination.currentPage == page" (click)="handlePage(page)">
        <a>{{ page }}</a>
    </li>
    <li [class.disabled]="Pagination.currentPage >= LastPage" (click)="handleNextPage()">
        <a><i class="material-icons">chevron_right</i></a>
    </li>
</ul>