<div matFloatingActionButton class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating red darken-4" (click)="Clear()">
                <i class="material-icons">clear</i>
            </a>
        </li>
        <li>
            <a class="btn-floating red" (click)="Stop()">
                <i class="material-icons">stop</i>
            </a>
        </li>
        <li>
            <a class="btn-floating green" (click)="Start()">
                <i class="material-icons">play_arrow</i>
            </a>
        </li>
    </ul>
</div>

<div class="valign-wrapper chrono">
    {{ Time |chrono }}
</div>