<form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="input-field">
        <label for="titre">Titre</label>
        <input type="text" name="titre" id="titre" formControlName="titre">
        {{ form.get('titre').errors |json }}
    </div>
    <div class="input-field">
        <label for="duree">Durée</label>
        <input type="number" name="duree" id="duree" formControlName="duree">
    </div>
    <fieldset formArrayName="actors">
        <legend (click)="addActor()">Acteurs (cliquer pour ajouter)</legend>
        <ng-container *ngFor="let _ of Actors.controls; let i = index">
            <ng-container [formGroupName]="i">
                <div class="input-field">
                    <label for="firstname">Prénom</label>
                    <input type="text" name="firstname" id="firstname" formControlName="firstname">
                </div>
                <div class="input-field">
                    <label for="lastname">Nom</label>
                    <input type="text" name="lastname" id="lastname" formControlName="lastname">
                </div>
            </ng-container>
            <button type="button" (click)="removeActor(i)">Supprimer</button>
        </ng-container>
    </fieldset>
    <button>Submit</button>
</form>