<form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <form-input label="Email" formControlName="email"></form-input>
    <form-input label="Password" formControlName="password"></form-input>
    <button type="submit">Se connecter</button>
</form>