<nav-bar></nav-bar>

<button (click)="loadGenres()">LOAD</button>
<ng-container *ngIf="(genres$ |async) as state">
    <ng-container *ngIf="state.loading;else grid">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #grid>
        <ul>
            <li *ngFor="let item of state.value">{{ item }}</li>
        </ul>
    </ng-template>
</ng-container>

<router-outlet></router-outlet>