{{ Email$ |async |json }}
<nav>
    <ul>
        <li routerLink="">
            <a>Home</a>
        </li>
        <li routerLink="/movie">
            <a>Movie</a>
        </li>
        <li routerLink="/chrono">
            <a>Chrono</a>
        </li>
        <ng-container *ngIf="!(Email$ |async) as Email;else connectedMenu">

            <li routerLink="/login">
                <a>Login</a>
            </li>
        </ng-container>
        <ng-template #connectedMenu>
            <li (click)="logout()">
                <a>Logout</a>
            </li>
        </ng-template>
    </ul>
</nav>