<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Durée</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of Movies |slice:StartIndex:EndIndex">
            <td>{{ movie.Title }}</td>
            <td>{{ movie.Duration }}</td>
            <td>
                <button class="btn green" [routerLink]="['./detail', movie.Id]">
                    Show
                </button>
            </td>
        </tr>
    </tbody>
</table>

<pagination [pagination]="PageInfo" (changePage)="handleChangePage($event)"></pagination>