<p>movie works!</p>
<div class="container">
    <div class="row">
        <div class="col s6">
            <movie-list></movie-list>
        </div>
        <div class="col s6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>